<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <p> © 2022 Copyright Text</p>
                <a href="#">More Links</a>
            </div>
        </div>
    </div>
</footer>