@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Raleway";
  font-weight: 400;
}

.reg {
  color: rgba(255, 255, 255, 0.669);
  text-decoration: none;
}

.reg:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px white;
  box-shadow: 0 0 10px rgb(253, 253, 253);
}

.navbar-brand {
  font-family: "Alfa Slab One";
  font-weight: 400;
  color: #fff !important;
}

footer,
.navbar {
  background: #000000ce !important;
}

.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 0.8em;
  min-height: 42px;
  padding: 0 28px;
  background: #1c1cffa2;
  border: 0;
  border-radius: 6.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-center {
  margin: auto;
  margin-top: 30px;
}

.title_index {
  margin-top: 250px;
  font-weight: 700;
}

footer {
  padding: 12px 0px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
body {
  height: 100vh;
}
