.my_links{
    align-self: center;
}

.a_links:first-child{
    margin-top: 30px;
  }
  
  .a_links{
    margin-top: 10px;
    width: 500px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
  }
  
  .a_links img{
    border-right: 1px solid #fff;
  } 
  
  .a_links:hover{
    box-shadow: 0 0 10px #fff;
  }

  .user_info img{
    width: 200px;
    height: 200px;
  }

  .user_name{
    margin-left: 30px;
  }

  p{
    margin-bottom: 0;
  }

  .social_name{
    font-size: 22px;
    font-weight: 600;
  }