<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <h1 class="title_index">Now, you only need one link.</h1>
            <p>Share more with your followers in a single click. Myurls makes it easy to link to all of your content in
                one place.</p>
            <a href="/registr" class="btn btn-center">Use MyLinks for Free</a>
        </div>
        
    </div>
</div>