<div class="container">
    <div class="row justify-content-center">
        <div class="login_cart col-5">
            <div class="top">
                <div class="a">
                    <a href="/"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.6663 6.16668H3.52467L8.18301 1.50834L6.99967 0.333344L0.333008 7.00001L6.99967 13.6667L8.17467 12.4917L3.52467 7.83334H13.6663V6.16668Z"
                                fill="#5048E5">
                                <span>Home</span>
                        </svg></a>
                </div>
                <h3>Sign in</h3>
                {{#if error}}
                <p style="color: red;">{{error}}</p>
                {{else}}
                {{/if}}
            </div>
            <div class="botom">
                <p>Login with email</p>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email adress</label>
                        <input required type="email" class="form-control" name="email" id="email"
                            aria-describedby="emailHelpId" placeholder="Email adress">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input required type="password" class="form-control" name="password" id="password"
                            aria-describedby="emailHelpId" placeholder="Password">
                    </div>
                    <button class="login_form_btn">Sign In</button>
                </form>
            </div>
            <p class="login_botom_p">Don’t have an account?<a href="/register">Sign up</a></p>
        </div>
    </div>
</div>